* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

.max-width-wrapper {
  max-width: 808px;
  margin: 96px auto 0;
  padding: 0 24px;
}

.title {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 48px;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 416px;
}
